.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.toggle-menu {
  width: 15%;
  margin-left: 10px;
}
.bar-menu {
  background-color: transparent;
  color: #8fa939;
  border: none;
}
.bar-menu > svg.svg-inline--fa {
  font-size: 2.2rem;
}
.sidepanel {
  width: 250px;
  position: fixed;
  z-index: 1;
  height: 50vh;
  top: 0;
  left: 0;
  background-color: #8fa939;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 10px 5px 0;
  animation: mymove 0.8s ease-in-out;
  display: none;
}
@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #1e260d;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 1%;
  right: 3%;
  background-color: transparent;
  color: #1e260d;
  border: none;
}

.sidepanel .closebtn svg {
  font-size: 2rem;
}
