* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
video {
  display: none;
  aspect-ratio: 9/16;
  object-fit: cover;
  width: calc(90% - 10px);
}
button {
  font-family: "Roboto", sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

button:active {
  transform: scale(0.95);
}
svg.svg-inline--fa {
  font-size: 1.4rem;
}
.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.toggle-menu {
  width: 15%;
  margin-left: 10px;
}
.bar-menu {
  background-color: transparent;
  color: #8fa939;
  border: none;
}
.bar-menu > svg.svg-inline--fa {
  font-size: 2.2rem;
}
#select-file {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-select,
#select-again {
  display: block;
  margin: 10px 15px;
  background-color: #8fa939;
  color: #fff;
  width: calc(40% - 10px);
  height: 2rem;
  align-content: center;
  padding-left: 0.5rem;
  border: solid thin #8fa939;
  border-radius: 3px;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}
#btn-select {
  box-shadow: -2px 3px 3px 1px #556724;
}
#select-again {
  box-shadow: 2px 3px 3px 1px #556724;
}
#container-control-btn {
  display: none;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#container-control-btn button {
  height: 2.2rem;
  width: 5.5rem;
  background-color: transparent;
  border: #888 thin solid;
  border-radius: 15px;
  color: #8fa939;
}
#container-control-btn button:nth-child(1) {
  box-shadow: -1px 3px 2px 1px;
}
#container-control-btn button:nth-child(2) {
  box-shadow: 0px 3px 2px 1px;
}
#container-control-btn button:nth-child(3) {
  box-shadow: 1px 3px 2px 1px;
}
#control-time {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#control-time > input {
  width: 85%;
  accent-color: #8fa939;
}

#container-speed {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#container-speed > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
#container-speed > label > input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: #8fa939;
}
#container-speed > label > span {
  font-size: 1.1rem;
}
#copy-by-box {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: thin solid #8fa939;
  border-radius: 8px;
  padding: 3px 12px;
  margin-bottom: 1rem;
  cursor: default;
}
.copy-by-item:nth-child(1) > p {
  width: 1rem;
  height: 1rem;
  text-align: center;
  padding: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  background-color: #8fa939;
  color: #f0f4f9;
  border-radius: 50%;
}
.copy-by-item:nth-child(2),
.copy-by-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  color: #8fa939;
}
.copy-by-item:nth-child(2) > small {
  font-size: 0.6rem;
}
.copy-by-item:nth-child(2) > p {
  font-weight: bold;
  letter-spacing: 2px;
}
.copy-by-item:nth-child(3) {
  justify-content: center;
  align-items: center;
}

/*  */
.sidepanel {
  width: 250px;
  position: fixed;
  z-index: 1;
  height: 50vh;
  top: 0;
  left: 0;
  background-color: #8fa939;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 10px 5px 0;
  animation: mymove 0.8s ease-in-out;
  display: none;
}
@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #1e260d;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 1%;
  right: 3%;
  background-color: transparent;
  color: #1e260d;
  border: none;
}

.sidepanel .closebtn svg {
  font-size: 2rem;
}
